@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1170px;
    margin: 0 auto;
}
.logInFOrm
{
    /* background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.1px);
-webkit-backdrop-filter: blur(1.1px);
border: 1px solid rgba(255, 255, 255, 0.3); */
background: rgba( 80, 227, 194, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.banner{
    background:linear-gradient(90deg,rgba(0, 0, 0, 0.568),rgba(70, 4, 4, 0.603)) ,url('/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     background-position: right;
}
.banner_my{
    background:linear-gradient(90deg,rgba(0, 0, 0, 0.568),rgba(70, 4, 4, 0.603)) ,url('/myquery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.font-pop{
    font-family: "Poppins", sans-serif;
}
.font-robo{
    font-family: "Roboto", sans-serif;
}
.font-work{
    font-family: "Work Sans", sans-serif;
}
.font-satis{
    font-family: "Satisfy", cursive;
}
.font-play{
    font-family: "Playfair Display", serif;

}